.main {
  background-image: url(../images/picture-effective.jpg);
  width: 1600px;
  box-shadow: -1600px 22px 0px 1600px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: -1600px 22px 0px 1600px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: -1600px 22px 0px 1600px rgba(0, 0, 0, 0.5) inset;

  &__text {
    font-size: 44px;
    color: rgba(255, 255, 255, 1);
    line-height: 1.4;
    padding: 200px 452px 15px 452px;
    margin: 0 auto;
    display: flex;
    flex: wrap;
    text-align: center;
  }
}
